<div class="card col-12 m-2" data-postid="{{id}}">
  <div class="card-body">
    <h5 class="card-title"><a href="/posts/{{id}}"></a> {{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by <a href="/users/{{user_id}}">{{user.username}}</a> on {{format_date updatedAt}}</h6>
    <p class="card-text">{{content}}</p>

    {{#each comments as |comment|}}
    {{> comments comment}}
    {{/each}}

    {{#if loggedIn}}
    <div class="col-10 container border rounded my-2 p-2 comment-form">
      <div class="mb-3">
        <label for="comment-text-box" class="form-label">Comment</label>
        <textarea class="form-control" id="comment-text-box"></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3 submit-btn">Submit</button>
      </div>

    </div>
    {{/if}}
  </div>
</div>